<% for (var i = 0; i < items.length; i++) { %>
  <li class='<%= items[i].className %>'>
    <div class='numbering' style='display: inline-block; float: left; width : 35px; text-align: right; padding-right: 10px; height:40px'>
      <span><%= (i + 1) %></span>
    </div>
    <%= link_to(items[i].name, "#" + items[i].fid, {class: "name"}) %>
    <a class='details' href='#<%= items[i].id %>'><%= img_tag('/images/12-eye.png', "Fiche") %></a>
    <a class='print' href='#<%= items[i].id %>'><%= img_tag('/images/185-printer.png', "Imprimer") %></a>
    <br/>
    <span><%= items[i].place %></span>
    <div style='clear: both'></div>
  </li>
<% } %>