%table.zebra-striped.bordered-table
  %thead
    %tr
      %th
        %input{:type=>"checkbox"}
      %th Name
      %th Category
      %th City
      %th Telephone
      %th Fax
      %th Email
  %tbody
    - for location in @locations
      %tr
        %td.selector
          %input{:type=>"checkbox", :name=>"categories[]", :value => "#{location.id}"}
        %td= link_to location.name, edit_admin_location_path(location)
        %td= location.category ? location.category.name : ""
        %td= location.city_name
        %td= location.telephone
        %td= location.fax
        %td= location.email
= render :partial => "shared/paging", :locals => {:collection => @locations, :page_size => @per_page}