<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html>
<head>
  <title>0-One</title>
  <%= javascript_include_tag "application", debug: Rails.env.development? %>
  <script type="text/javascript">
  if ($.browser.msie && $.browser.version < 8) window.location = "/notsupported";
  </script>
  <%= stylesheet_link_tag "application" %>
</head>
<body onload="init()">
  <div style="padding: 50px 40px; ">
    <%= render :partial => "header" %>
    <div id="wrapper">
      <div id="canvas">
        <div id="map"></div>
      </div>
      <div id="actions">
        <div id="tabs">
          <ul>
            <li><a href="#categories" class="tab"><span class="name">Annuaire</span></a></li>
            <li><a href="#localization" class="tab"><span class="name">Localisation</span></a></li>
            <li><a href="#routing" class="tab"><span class="name">Itin&eacute;raire</span></a></li>
          </ul>
        </div>
        <div id="tab-content">
          <%= render :partial => "map/tabs/categories" %>
          <%= render :partial => "map/tabs/localization" %>
          <%= render :partial => "map/tabs/routing" %>
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
  <script type="text/javascript">
    if ($.browser.msie && $.browser.version < 8) window.location = "/notsupported";
    window.API_ROOT = '<%= Geodemo::Application.config.API_ROOT %>';
    window.client = '<%= @client %>';
  </script>
</body>
</html>