!!!
%html
  %head
    = csrf_meta_tag
    = stylesheet_link_tag "/assets/admin", :debug => Rails.env.development?
    = javascript_include_tag "/assets/admin", :debug => Rails.env.development?
    = yield :javascripts
  %body
    .topbar
      .fill
        .container
          %ul#nav
            %li= link_to "Dashboard", "/admin/dashboard"
            %li= link_to "Locations", "/admin/locations"
            %li= link_to "Categories", "/admin/categories"
            %li= link_to "Users", "/admin/users"
          %span{:style=>"float: right; margin-right: 10px; margin-top: 10px"}
            = link_to "Logout", "/admin/logout"
    .clear{:style=>"height: 40px"}
    #search-bar{:style=>"background: none repeat scroll 0 0 #F5F5F5; border-bottom: 1px solid #e5e5e5; padding: 10px; height:60px"}
      .container
        = image_tag "logo.png", :style => "margin-left: 20px; margin-top: 10px; float: left"
        %div{:style=>"margin-left: 70px; width: 550px;float: left"}
          %form
            %input{:type=>"text", :id=>"query", :name=>"query", :style=>"width: 400px; position: relative; padding: 5px; font-size: 16px"}
            %button#submit{:style=>"position: relative; margin-left: 5px; top: 6px"}
              %div{:style=>"background-color: #4D90FE; background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED); width: 80px;;border: 1px solid #3079ED; color: #FFFFFF; border-radius: 2px 2px 2px 2px"}
                = image_tag("search_white.png", :style=> "padding: 4px;")
          %br
          %span{:style=>"font-size: 11px; color: #777; position: relative; top: -30px"}
            Search for locations on address, city, name...
    .container{:style=>"padding-top: 15px"}
      = yield



